<div class="admin_login"><%= link_to "Admin Login", new_album_path %></div>
<div class="home"><%= link_to "Home", root_path %></div>

<h1>Albums Gallery</h1>

<% @albums.each do |album| %>
  <div>
  	<%= link_to album.name, album_path(album.id) %>    
  </div>
<% end %>