<h3><%= link_to @album.name %></h3>
<div class="album">
<%= link_to "Edit", edit_album_path(@album.id) %>
<%= link_to "Delete", @album, method: :delete, data:{confirm: "Are you sure you want to delete this album? All photos in it will be permanently deleted!"} %>
</div>
<br><%= link_to "Back", albums_path %>